doctype html
html
  head
    title DJ Dance Academy
    block scripts
    block style  
  body
    nav#navbar 
        ul
          div#logo 
            h2 DjD
             
            li #[a(href="/") Home]  
            li #[a(href="/about") About ]
            //- li #[a(href="/services") Services]
            li #[a(href="/contact") Contact Us]
            
    block content
    footer#footer 
        | Copyright © 2020 DJdanceacedmy.com | All rights reserved 
    